#fFuncionarios {
    margin-left: 30%;
    margin-top: 20px;
    margin-right: 30%;
}

#tbFuncionarios {
    font: 14px Verdana;
}

#dGridFuncionarios {
    width: 1239px;
    
}

select {
    width: 280px;
    height: 38px;
}
.lh-100 {
    margin-left: 30%;
    text-align: center;

  }

input[type=button] {
    width: 180px;
    height: 48px;
}

tr:hover {
    cursor: pointer;
    background-color: rgb(78, 165, 236);
    color:antiquewhite;
}
